# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Distributions
dist/
build/
*.egg
*.whl

# C extensions
*.so

# Editors
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Virtual environment
venv/

# Skyfield data
data/

# Gemini
GEMINI.md

# Logs
